@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
        url('../fonts/roboto/roboto-regular-webfont.woff') format('woff'),
        url('../fonts/roboto/roboto-regular-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway_extrabold';
    src: url('../fonts/raleway/raleway-extrabold-webfont.woff2') format('woff2'), url('../fonts/raleway/raleway-extrabold-webfont.woff') format('woff'),
        url('../fonts/raleway/raleway-extrabold-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway_bold';
    src: url('../fonts/raleway/raleway-bold-webfont.woff2') format('woff2'),
        url('../fonts/raleway/raleway-bold-webfont.woff') format('woff'),
        url('../fonts/raleway/raleway-bold-webfont.ttf'), url('../fonts/raleway/raleway-bold-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway_medium';
    src: url('../fonts/raleway/raleway-medium-webfont.woff2') format('woff2'),
        url('../fonts/raleway/raleway-medium-webfont.woff') format('woff'),
        url('../fonts/raleway/raleway-medium-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
        url('../fonts/raleway/raleway-regular-webfont.woff') format('woff'),
        url('../fonts/raleway/raleway-regular-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway_semibold';
    src: url('../fonts/raleway/raleway-semibold-webfont.woff2') format('woff2'), url('../fonts/raleway/raleway-semibold-webfont.woff') format('woff'),
        url('../fonts/raleway/raleway-semibold-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat_extralight';
    src: url('../fonts/montserrat/montserrat-extralight-webfont.woff2') format('woff2'),
        url('../fonts/montserrat/montserrat-extralight-webfont.woff') format('woff'),
        url('../fonts/montserrat/montserrat-extralight-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat_light';
    src: url('../fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'),
        url('../fonts/montserrat/montserrat-light-webfont.woff') format('woff'),
        url('../fonts/montserrat/montserrat-light-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
        url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff'),
        url('../fonts/montserrat/montserrat-regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 1920px;
}

header {
    background-image: url(../img/bg_photo_header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1024px;
    /*    background-color: black;*/
}

.header_logo {
    padding: 40px 0 0 0;
    margin-left: 376px;
    display: flex;
}

.header_logo_cont a {
    text-decoration: none;
    display: flex;
}

.logo-icon {
    fill: #ffffff;
    transition: fill 0.5s ease-out;
}

.header_logo_cont span {
    font-family: 'raleway';
    font-size: 34px;
    letter-spacing: -1.36px;
    color: #ffffff;
    margin: 10px 0 0 0;
    transition: color 0.5s ease-out;
}

.header_logo_cont:hover svg {
    fill: #998675;
}

.header_logo_cont:hover span {
    color: #998675;
}

.header_logo_cont:active svg {
    fill: burlywood;
}

.header_logo_cont:active span {
    color: burlywood;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    width: 637px;
    list-style-type: none;
    margin: 20px 0 0 219px;
}

.nav_list li a {
    color: #ffffff;
    font-family: 'montserrat_light';
    font-size: 14px;
    text-decoration: none;
    transition: color 0.4s ease;
    padding: 5px;
}

.nav_list li a:hover {
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
}

.nav_list li a:active {
    color: chocolate;
}

.cart {
    padding: 0;
    border: none;
    font: inherit;
    color: #ffffff;
    background-color: transparent;
    fill: #ffffff;
    outline: none;
}

.cart:hover {
    fill: #c7b299;
}

.cart:active {
    fill: chocolate;
}

.search_icon {
    width: 24px;
    height: 24px;
    outline: none;
    background-image: url('../img/icon-search.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 1px solid transparent;
    color: burlywood;
    position: absolute;
    transition: width 1s ease-out;
    background-position: right;
    margin-left: 10px;
}

.search_icon:focus {
    width: 150px;
    transition: width 1s ease-out;
    background-position: right;
    border: 1px solid gray;
}

/*------------SLIDER-----------*/
.slider {
    position: relative;
}

.slider-arrow-left {
    /*    display: block;*/
    width: 40px;
    height: 73px;
    position: relative;
}

.slider-arrow-left:after {
    content: "";
    display: inline-block;
    width: 52px;
    height: 52px;
    border-top: 2px solid #d3c1ad;
    border-right: 2px solid #d3c1ad;
    transform: rotate(225deg);
    position: absolute;
    top: -200px;
    left: 125px;
}

.slider-arrow-left:hover:after {
    border-top: 2px solid #998675;
    border-right: 2px solid #998675;
}

.slider-arrow-left:active:after {
    border-top: 2px solid burlywood;
    border-right: 2px solid burlywood;
}

.slider-arrow-right {
    width: 40px;
    height: 73px;
    position: relative;
}

.slider-arrow-right:after {
    content: "";
    display: inline-block;
    width: 52px;
    height: 52px;
    border-top: 2px solid #d3c1ad;
    border-right: 2px solid #d3c1ad;
    transform: rotate(45deg);
    position: absolute;
    bottom: 145px;
    left: 1725px;
}

.slider-arrow-right:hover:after {
    border-top: 2px solid #998675;
    border-right: 2px solid #998675;
}

.slider-arrow-right:active:after {
    border-top: 2px solid burlywood;
    border-right: 2px solid burlywood;
}

.slider_txt {
    width: 592px;
    text-align: center;
    margin: 285px 0 0 666px;
}

.slider_txt span {
    display: block;
    text-align: center;
    color: #ffffff;
    font-family: 'raleway_medium';
    font-size: 36px;
    font-weight: 500;
}

.slider_txt h1 {
    color: #ffffff;
    font-family: 'raleway_extrabold';
    font-size: 52px;
    text-align: center;
    margin: 14px 0 19px 0;
}

.slider_txt p {
    color: #ffffff;
    font-family: 'montserrat_light';
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.slider_txt_btn {
    display: block;
    width: 170px;
    height: 53px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    color: #ffffff;
    font-family: 'raleway_extrabold';
    font-size: 14px;
    line-height: 53px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 52px 0 0 210px;
    transition: background-color 500ms ease;
}

.slider_txt_btn:hover {
    background-color: #736357;
}

.slider_txt_btn:active {
    background-color: #d3c1ad;
    box-shadow: inset 0 -3px 0 #736357;
}

.pagination {
    position: absolute;
    left: 900px;
    top: 600px;
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.slider_button {
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 7px;
    border: 2px solid #000;
    transition: background-color 0.5s ease;
}

.slider_button:hover {
    border: 2px solid #d3c1ad;
    background-color: black;
    border-radius: 8px;
}

.slider_button:active {
    border: 2px solid black;
    background-color: #d3c1ad;
}

/*--------- Блок с иконками SVG--------*/
.description_icons {
    display: flex;
}

.description_icons_first:first-child {
    margin-left: 378px;
}

.description_icons_first {
    width: 275px;
    margin: 80px 30px 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

.description_icons_first {
    text-align: center;
}

.description_icons_first span {
    color: #555555;
    font-family: 'raleway_semibold';
    font-size: 22px;
    font-weight: bold;
    display: block;
    margin: 30px 0 20px 0;
    transition: color 0.5s ease-out;
}

.description_icons_first p {
    color: #8c8c8c;
    font-family: 'montserrat_light';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.description_icons_first::after {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    margin: 30px 0 0 105px;
    transition: background-color 0.5s ease-out;
}

.descr_icon_svg {
    fill: #555555;
    margin-left: 109px;
    transition: fill 0.5s ease-out;
}

.description_icons_first:hover span {
    color: #c7b299;
}

.description_icons_first:hover svg {
    fill: #c7b299;
}

.description_icons_first:hover::after {
    background-color: #c7b299;
}

/*------------------BG-images-----------------*/
.bg-img {
    width: 1920px;
    min-height: 700px;
    background-color: #fbfaf8;
    background-image: url(../img/browser-center.jpg),
        url(../img/browser-right.jpg),
        url(../img/browser-left.jpg);
    background-repeat: no-repeat;
    background-size: 40%, 40%, 40%;
    background-position: 50% 101%, 70% 100%, 30% 100%;
}

.bg-img h2 {
    color: #555555;
    font-family: 'raleway_semibold';
    font-size: 30px;
    text-align: center;
    padding-top: 80px;
    margin: 0 0 24px 0;
}

.bg-img p {
    color: #8c8c8c;
    font-family: 'montserrat_light';
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    width: 777px;
    margin-left: 583px;
    text-align: center;
}

/*----------------Aside purchase-------------*/
.purchase {
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    padding: 50px 0 0 374px;
}

.purchase h3 {
    font-family: 'raleway';
    font-size: 28px;
    font-weight: 400;
    color: #c7b299;
    margin-bottom: 10px;
}

.purchase_title {
    color: #ffffff;
}

.purchase_txt {
    color: #615855;
    font-family: 'montserrat_light';
    font-size: 18px;
    padding-bottom: 50px;
    display: inline-block;
}

.purchase-btn {
    display: block;
    min-width: 170px;
    min-height: 50px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    color: #ffffff;
    font-family: 'raleway_extrabold';
    font-size: 14px;
    line-height: 50px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    float: right;
    margin-right: 374px;
    transition: background-color, box-shadow 500ms ease-in;
}

.purchase-btn:hover {
    background-color: #736357;
}

.purchase-btn:active {
    background-color: #d3c1ad;
    box-shadow: inset 0 -3px 0 #d3c1ad;
}

/*----------- Второй блок c картинками ----------*/
.img_title {
    color: #555555;
    font-family: 'raleway_semibold';
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin: 50px 0 24px 0;
}

.img_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_txt {
    color: #8c8c8c;
    font-family: 'montserrat_light';
    font-size: 16px;
    line-height: 28px;
    height: 43px;
    width: 777px;
    text-align: center;
}

.nav_img {
    display: flex;
    margin: 50px 0 0 0;

}

.btn_all {
    display: block;
    width: 120px;
    border-radius: 3px;
    background-color: #fff;
    color: #8c8c8c;
    font-family: 'montserrat_light';
    font-size: 14px;
    line-height: 32px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #ebebeb;
    margin-right: 10px;
    transition: background-color, color 0.8s ease-out;
}

.btn_all:nth-child(1) {
    width: 70px;
}

.btn_all:nth-child(5) {
    width: 135px;
}

.btn_all:hover {
    background-color: #998675;
    color: #ffffff;
}

.btn_all:active {
    background-color: #fff;
    color: #8c8c8c;
}

.images_row {
    margin: 40px 0 0 376px;
    display: flex;
    flex-wrap: wrap;
}

.images_row_item {
    position: relative;
}

.images_row_item::after {
    content: "";
    display: block;
    border: 15px solid transparent;
    border-bottom: 12px solid #fbfaf8;
    position: absolute;
    top: 210px;
    left: 20px;
    transition: border 0.8s ease-out;
}

.link_btn {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    top: 106px;
    left: 144px;
    position: absolute;
    display: none;
    background-image: url(../img/link.png);
    background-color: transparent;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    outline: none;
}

.search_btn {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    top: 106px;
    left: 198px;
    position: absolute;
    display: none;
    background-image: url(../img/lupa.png);
    background-color: transparent;
    background-repeat: no-repeat;
    width: 26px;
    height: 25px;
    outline: none;
}

.images_row_item:hover .img_under_title {
    color: #ffffff;
}

.images_row_item:hover .img_under_txt {
    color: #c7b299;
}

.images_row_item:hover .images_row_txt {
    background-color: #362f2d;
}

.images_row_item:hover .images_main_img {
    filter: brightness(40%);
}

.images_row_item:hover .link_btn {
    display: block;
}

.images_row_item:hover .search_btn {
    display: block;
}

.images_row_item:hover:after {
    border: 15px solid transparent;
    border-bottom: 12px solid #362f2d;
}

.images_row_item {
    margin: 0 30px 30px 0;
    text-decoration: none;
}

.images_row_txt {
    background-color: #fbfaf8;
    display: flex;
    flex-direction: column;
    transition: background-color 0.8s ease-out;
}

.images_main_img {
    display: block;
    transition: filter 1s ease-out;
}

.img_under_title {
    color: #c7b299;
    font-family: 'raleway_medium';
    font-size: 20px;
    padding: 30px 0 15px 30px;
    transition: color 0.5s ease-in;
}

.img_under_txt {
    color: #d1d1d1;
    font-family: 'montserrat_light';
    font-size: 14px;
    padding: 0 0 30px 30px;
    transition: color 0.5s ease-in;
}

.btn_img {
    display: block;
    width: 170px;
    height: 50px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    color: #ffffff;
    font-family: 'raleway_extrabold';
    font-size: 14px;
    line-height: 50px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: 40px 0 80px 876px;
    transition: background-color 500ms ease-in;
}

.btn_img:hover {
    background-color: #736357;

}

.btn_img:active {
    background-color: #d3c1ad;
}

/*--------------Video-------------*/
.video_presentation {
    width: 1920px;
    min-height: 705px;
    position: relative;
    /*    background-image: url(../img/video_bg.jpg);*/
}

.video_txt {
    position: absolute;
    top: 320px;
    left: 680px;
}

.icon_circle {
    position: absolute;
    left: 230px;
    top: -120px;
}

.icon_play {
    fill: #ffffff;
    position: absolute;
    left: 245px;
    top: -104px;
}

.video_txt h3 {
    color: #ffffff;
    font-family: 'raleway_medium';
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.video_txt_span {
    color: #ffffff;
    font-family: 'montserrat_light';
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    width: 562px;
    display: block;
}

.video_time {
    color: #c7b299;
    font-family: 'montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    display: block;
    margin-top: 50px;
}

/*-------Мобильный телефон--------*/
.mobile {
    background-color: #fbfaf8;
    background: url(../img/iPhone_in_hand.png) no-repeat 27% 100%;
    min-height: 700px;
}

.mobile_txt {
    padding: 195px 0 0 877px;
}

.mobile h1 {
    color: #555555;
    font-family: 'raleway_semibold';
    font-size: 30px;
    margin-bottom: 40px;
}

.mobile p {
    color: #8c8c8c;
    font-family: 'montserrat_light';
    font-size: 16px;
    line-height: 28px;
    width: 667px;
    margin-bottom: 45px;
}

.mobile_list {
    list-style-image: url(../img/mobilelist.png);
    margin-left: 80px;
}

.mobile_list li {
    color: #8c8c8c;
    font-family: 'montserrat_light';
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    padding-left: 20px;
}

.stats {
    width: 1920px;
    min-height: 300px;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: center;
}

.stats_block:last-child {
    margin-right: 0;
}

.stats_block {
    margin-top: 69px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 80px;
}

.stats_block::after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    margin: 32px auto;
}

.stats_block_svg {
    margin: 0 auto;
    fill: #c7b299;
}

.stats_block_numbers {
    color: #ffffff;
    font-family: 'montserrat_extralight';
    font-size: 48px;
    margin: 30px auto 20px auto;
}

.stats_block_txt {
    color: #c7b299;
    font-family: 'montserrat_light';
    font-size: 14px;
    text-transform: uppercase;
}

/*--------------Recent Posts---------------*/
.post {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.post_title {
    color: #555555;
    font-family: 'raleway_semibold';
    font-size: 30px;
    text-align: center;
    margin: 82px 0 30px 0;
    width: 100%;
}

.post_p {
    color: #8c8c8c;
    line-height: 28px;
    font-family: 'montserrat_light';
    font-size: 16px;
    width: 770px;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
    white-space: pre-wrap;
}

.post_block {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    max-width: 370px;
    box-sizing: border-box;
    position: relative;
    transition: background-color 0.8s ease-in-out;
}

.post_block:last-child {
    margin-right: 0;
}

.post_block_txt::before {
    content: '30';
    font-family: 'montserrat_light';
    color: #ffffff;
    font-size: 24px;
    line-height: 35px;
    position: absolute;
    width: 50px;
    height: 35px;
    border-radius: 3px 3px 0 0;
    background-color: #363636;
    text-align: center;
    left: 20px;
    top: 20px;
}

.post_block::after {
    content: 'Sep.';
    text-align: center;
    width: 50px;
    border-radius: 0 0 3px 3px;
    position: absolute;
    left: 20px;
    top: 55px;
    background-color: #252525;
    font-family: 'roboto';
    color: #ffffff;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
}

.post_block_img {
    transition: filter 1s ease-in-out;
}

.post_block:hover .post_block_img {
    filter: brightness(30%);
}

.post_block:hover {
    background-color: #362f2d;
}

.post_block:hover .post_block_txt {
    color: #c7b299;
}

.post_block:hover .post_block_p {
    color: #ffffff;
}

.post_block:hover .post_block_link {
    color: #c7b299;
}

.post_block:hover .post_block_link:after {
    border-left: 6px solid #c7b299;
}

.post_block:hover:after {
    background-color: #a48d72;
    color: #ffffff;
}

.post_block:hover .post_block_txt::before {
    background-color: #c7b299;
    color: #ffffff;
}

.post_block_txt {
    color: #555555;
    font-family: 'raleway_medium';
    font-size: 20px;
    margin: 30px 0 20px 29px;
    transition: color 2s ease-out;
}

.post_block_p {
    color: #8c8c8c;
    font-family: 'montserrat_light';
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 27px;
    margin-left: 29px;
    transition: color 2s ease;
}

.post_block_link {
    color: #c7b299;
    font-family: 'montserrat_light';
    font-size: 14px;
    line-height: 20px;
    margin-left: 29px;
    text-decoration: none;
    margin-bottom: 27px;
    position: relative;
    margin-right: auto;
    padding: 5px;
    box-sizing: border-box;
}

.post_block_link::after {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-left: 6px solid #c7b299;
    left: 87px;
    bottom: 11px;
}

.post_block:hover .post_block_link:hover {
    color: burlywood;
}

.post_block:hover .post_block_link:hover:after {
    border-left: 6px solid burlywood;
}

.post_block:hover .post_block_link:active {
    color: #998675;
}

.post_block:hover .post_block_link:active:after {
    border-left: 6px solid #998675;
}

.arrow_left_btn {
    position: absolute;
    width: 22px;
    height: 22px;
    padding: 0;
    border: none;
    font: inherit;
    background-color: transparent;
    fill: #d1d1d1;
    right: 1000px;
    bottom: -70px;
    outline: none;
}

.arrow_right_btn {
    position: absolute;
    width: 22px;
    height: 22px;
    padding: 0;
    border: none;
    font: inherit;
    background-color: transparent;
    fill: #d1d1d1;
    right: 970px;
    bottom: -70px;
    outline: none;
}

.arrow_left_btn:hover {
    fill: #c7b299;
}

.arrow_right_btn:hover {
    fill: #c7b299;
}

/*-----------------footer-logos-------------*/
.footer_logos {
    margin-top: 142px;
    background-image: url(../img/footer_big1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 489px;
    display: flex;
    justify-content: center;
}

.footer_logos_link {
    display: block;
    margin-top: 140px;
    margin-right: 90px;
    margin-bottom: auto;
}

.footer_logos_link:last-child {
    margin-right: 0;
}

.footer_logos img {
    display: block;
}

.footer_text {
    width: 100%;
    min-height: 508px;
    background-color: #191919;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer_text_block {
    flex-direction: column;
    width: 276px;
    margin-top: 80px;
    margin-right: 40px;
    box-sizing: border-box;
}

.footer_logo_icon {
    fill: #ffffff;
}

.footer_logo_link {
    text-decoration: none;
    display: flex;
}

.footer_logo_icon {
    fill: #ffffff;
    transition: fill 0.5s ease-out;
}

.footer_logo_txt {
    color: #ffffff;
    font-family: 'raleway';
    font-size: 34px;
    letter-spacing: -1.36px;
    margin: 10px 0 0 0;
    transition: color 0.5s ease-out;
}

.footer_logo_link:hover .footer_logo_icon {
    fill: #998675;
}

.footer_logo_link:hover .footer_logo_txt {
    color: #998675;
}

.footer_logo_link:active .footer_logo_icon {
    fill: burlywood;
}

.footer_logo_link:active .footer_logo_txt {
    color: burlywood;
}

.footer_text_block_p {
    color: #555555;
    font-family: 'montserrat_light';
    font-size: 14px;
    line-height: 24px;
    white-space: pre-line;
    margin: 25px 0 33px 0;
}

.footer_readmore {
    color: #d1d1d1;
    font-family: 'montserrat_light';
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    position: relative;
    transition: color 500ms ease-out;
}

.footer_readmore:hover {
    color: #c7b299;
}

.footer_readmore:hover:after {
    border-left: 6px solid #c7b299;
}

.footer_readmore:active {
    color: #d1d1d1;
}

.footer_readmore:active:after {
    border-left: 6px solid #d1d1d1;
}

.footer_readmore::after {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-left: 6px solid #d1d1d1;
    left: 87px;
    bottom: 3px;
}

/*---------------Второй блок футера----------------*/
.footer_text_title {
    color: #ffffff;
    font-family: 'raleway_bold';
    font-size: 24px;
    margin-bottom: 33px;
}

.footer_text_data {
    color: #363636;
    font-family: 'montserrat_light';
    font-size: 12px;
    line-height: 20px;
    margin-top: 40px;
    margin-bottom: 5px;
    display: block;
}

.footer_text_slice:hover .footer_text_data {
    color: #ffffff;
}

.footer_text_slice:hover .footer_text_p {
    color: #c7b299;
}

.footer_text_p {
    color: #555555;
    font-family: 'montserrat_light';
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
}

.footer_text_slice {
    position: relative;
}

.footer_text_slice::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #252525;
    margin-top: 20px;
    position: absolute;
    pointer-events: none;
}

.footer_text_slice:last-child::after {
    display: none;
}

.footer_text_twitter_p {
    color: #555555;
    font-family: 'montserrat_light';
    font-size: 14px;
    line-height: 20px;
}

.twit_link {
    text-decoration: none;
    color: #00bff3;
}

.twit_link:hover {
    color: aqua;
}

.twit_link:active {
    color: aquamarine;
}

.footer_text_twitter_time {
    color: #363636;
    font-family: 'montserrat_light';
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
    display: block;
    margin-top: 7px;
}

.twit_link_bit {
    text-decoration: none;
    color: #959595;
}

.twit_link_bit:hover {
    color: #d3c1ad;
}

.footer_text_twitter_time::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #252525;
    margin-top: 20px;
}

.footer_text_twitter_time:last-child::after {
    display: none;
}

.footer_text_img:nth-child(2) {
    margin-right: 10px;
}

.footer_text_img:last-child {
    margin: 10px 0 0 10px;
}

footer {
    min-height: 111px;
    background-color: #111111;
    white-space: normal;
}

.footer_darker {
    color: #555555;
    font-family: 'montserrat_light';
    font-size: 13px;
    line-height: 20px;
}

.footer_lighter {
    color: #959595;
    font-family: 'montserrat_light';
    font-size: 13px;
    line-height: 20px;
}

.footer_faq {
    color: #c7b299;
    font-family: 'montserrat_light';
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer_faq:hover {
    color: #d3c1ad;
}

.left_side {
    float: left;
    margin-left: 376px;
    margin-top: 45px;
}

.right_side {
    float: right;
    margin-right: 374px;
    margin-top: 45px;
}
